@model Vikalp.Models.DTO.RoleDto
@{
    ViewData["Title"] = "Update Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-2">
    <div class="card">
        <div class="card-body">
            <div class="umcard-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Create Role</h5>
                </div>
            </div>

            <form asp-action="Edit" method="post" class="mt-2 g-3">
                <input type="hidden" name="RoleId" asp-for="@Model.RoleId" value="@Model.RoleId" />
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label>Role Name</label>
                            <input name="RoleName" value="@Model.RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label>Role Type</label>
                            <input name="RoleType" value="@Model.RoleType" class="form-control" />
                            <span asp-validation-for="RoleType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label>Description</label>
                            <textarea name="Description" class="form-control" rows="1">@Model.Description</textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label d-block">Is Active</label>
                        <input type="checkbox"
                               name="IsActive"
                               value="1"
                               @(Model.IsActive == 1 ? "checked" : "") />
                    </div>
                </div>
                <button class="btn-save" type="submit">Update</button>
                <a href="/Role/Index" class="btn-back">Cancel</a>
            </form>
        </div>
    </div>
</div>